@charset "utf-8";

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
    font-size: 100%;
}

body {
    margin: 0;
    padding: 0;
}

img {
	width: 100%;
    display: block;
}

header {
    background-color: #73d6ed;
    overflow: hidden;
}

.title,
.nav {
    text-align: center;
    letter-spacing: .01em;
    padding-left: 0.8rem;
}

.nav a {
    list-style-type:none;
}

.nav a,
.nav a:link,
.nav a:visited {
  display: block;
  color: #fff;
  text-decoration: none; 
}

.nav a:hover,
.nav a:focus,
.nav a:active, 
.nav .nav-current, 
.nav .nav-current:link,
.nav .nav-current:visited {
    background-color: #c5e1e7;
    color: #fff;
}

.nav li {
    list-style-type:none;
}
.signin,
.j-button {
    letter-spacing: .05em;
    display: block;
    font-weight: bold;
    color: white;
    white-space: nowrap;
    vertical-align: middle;
    text-decoration: none;
    background-color: #eee;
    background-image: -webkit-linear-gradient(#d4f6fe, #9ee5f6);
    background-image: linear-gradient(#d4f6fe,#9ee5f6);
    background-repeat: repeat-x;
    border-radius: 2px;
    width: 5em;
}

.hidden2 {
     display: none;
 }

.billboard {
    overflow: hidden;
    size: 100;
    background-image: url(../images/3.jpg);
    background-color: white;
    background-repeat: no-repeat;
    background-position: right;
    background-size: 50em;
  }

h1 > p { 
    font-weight: normal;
    text-transform: uppercase;
    position: absolute;
 }

 .white {
     background-color: rgba(255, 255, 255, .9);
 }

h3 {
    border-top: 1px solid #ddd;
    padding: 0.8rem;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.j-button {
    display: inline-block;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background-color: #73d6ed;
    width:4em;
    padding: .25em;
    border-radius: 2px;  
    margin: 0 0 0 10em
}

.popular {
    display: inline-block;
    float: left;
}

footer {
     background-color: #73d6ed;
     overflow:hidden;
     padding: 0.8em 0 0 0.8em;
}

.social {
    size: 20px;
}

.nav-footer li {
    text-align: left;
    display:inline-block
}

@media only screen and (min-width: 25em) {
    
 .nav li {
   list-style-type: none;
  } 
    
 .hidden1 {
     margin: 0 0 0 12em;  
 }
    
 .hidden3 {
     visibility: hidden;
 }

 .copyright {
    text-align: left;
  }
    
  .nav-footer a,
  .nav-footer a:link,
  .nav-footer a:visited {
    display: inline-block;
  }

  .nav-footer li::after {
    content: "·";
    display: inline-block;
    width: 0.5em;
    color: #666;
  }

  .nav-footer li:last-child::after {
    content: none;
  }

}

@media only screen and (min-width: 38em) {

.nav {
    text-align: center;
    letter-spacing: .01em;
}
    
.nav li {
    display: inline-block;
  } 
    
 .hidden1 {
    display: none;
  }

 .hidden2 {
    display: inline-block;
  }
    
 .hidden3 {
     visibility: hidden;
 }
    
  .nav-footer {
    text-align: right;
  }

}

@media only screen and (min-width: 60em) {
    
.hidden3 {
     visibility: hidden;
 }

}

@media only screen and (min-width: 143em) {
  .hidden3 {
     display: inline-block;
     float: left
 }
}